<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyPoet</title>
</head>
<body>
<h1>PyPoet</h1>
{% if error_message %}<p>{{ error_message }}</p>{% endif %}
<form id = "settingsForm">
    {% csrf_token %}
    <div class="prompt">
        <label for="URL_Box">Put URL of text here:</label>
        <input type="text" name="URL" id="URL_Box" value="http://www.textfiles.com/etext/FICTION/80day10.txt">
    </div>
    <div class="prompt">
        <label for="StartIndexBox">Start index (sentence # to start on):</label>
        <input type="number" name="StartIndex" id="StartIndexBox" value="0">
    </div>
    <div class="prompt">
        <label for="TotalLinesBox">Target # of lines for result poem:</label>
        <input type="number" name="TotalLines" id="TotalLinesBox" value="6">
    </div>
    <div class="prompt">
        <label for="SentenceLengthBox">Target sentence length for each line of result poem:</label>
        <input type="number" name="SentenceLength" id="SentenceLengthBox" value="5">
    </div>
    <div class="prompt">
        <label for="SentenceThresholdBox">Threshold for target sentence length (allowed variation):</label>
        <input type="number" name="SentenceThreshold" id="SentenceThresholdBox" value="10">
    </div>

    <input type="submit" id = "submit_button">
</form>

<p id = "CurrentLineDisplay">Progress: <i>Pending</i></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
    $(window).on('beforeunload', function(){
        $.ajax({url:"{% url 'PyPoet:leaving' %}", async:false});
        console.log("Leaving");
    });
    $(document).ready(function(){
        setInterval(function(){
            $.get("{% url 'PyPoet:update' %}", function(data){
            console.log(data);
                $("#CurrentLineDisplay").text(data["progress"]);
                if("output" in data){
                    $("#ResultHeader").show();
                    $("#ProgressDisplay").html(data["output"]);
                }
            });
        },
        4000);

        $("#settingsForm").ajaxForm({url: "{% url 'PyPoet:submit' %}", type: 'post'});
    });
</script>

<h2 id = "ResultHeader" style="display:none">Result</h2>
<p id = "ProgressDisplay"></p>
</script>
</body>
</html>